.page-title {
    margin-top: 30px;
    margin-bottom : 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e8e8e8;
    font-family: 'Lobster', cursive;
    background-color:rgba(220, 53, 69, 0.5);
    border-radius:40% 11% 40% 11%;
    text-align: center;
}

.global-title {
    font-family: 'Lobster', cursive;
}

.Entete h1 {
    font-family: 'Lobster', cursive;
}
.card-img-top-container{
    overflow: hidden;
    font-family: 'Lobster', cursive;
    z-index: 444444;
}

.car-img-top-zoom-effect{
        transition : 0.5s;
    }
    
.car-img-top-zoom-effect:hover{
        cursor : pointer;
        transform: scale(1.1);
}


.pastille{
    position: absolute;
    top:10px;
    right: 5px;
    
    width:76px;
    background:#dc3545;
    height:46px;
    text-align:center;
    border-radius:60% 30% 60% 30%;
    z-index: 555555;
    line-height: 45px; /* 100 - 10 */
    color: aliceblue;
    font-size: 1.3rem;
}

.sup { vertical-align: super; font-size: 50%; } 

body{
    background-image: url("../img/imagedefond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

p{
    color: aliceblue; 
    background-color: black;
}
.card-img-top {
    margin-top: 45px;
    border-radius:40% 11% 40% 11%;

}

.titre_single{
    margin-top: 45px;
}

/* .container{
    text-align: center;
} */
